<footer>
    
    <section>

        <div>
            <div>
                <p>Contactos</p>
                <a><i></i></a>
            </div>

            <div>
                <ul>
                    <li>
                        <a></a>
                    </li>
                </ul>
            </div>

        </div>
        <div>
            <div>
                <p>Categorias</p>
                <i></i>
            </div>

            <div>
                <ul>
                    <li>Cervezas</li>
                    <li>Vinos</li>
                    <li>Espumantes</li>
                    <li>Whiskies</li>
                    <li>Licores</li>
                    <li>Vodka</li>
                    <li>Ron</li>
                    <li>Aperitivos</li>
                </ul>
            </div>
        </div>

        <div>
           <div>
                <p>Ayuda</p>
                <i></i>
           </div>

           <div>
            <ul>
                <li>FAQ</li>
                <li>Medios de pago</li>
                <li>Ley de venta de bebidas</li>
                <li>Envio</li>
            </ul>
           </div>
        </div>

    </section>

    <section>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
    </section>

    <section>
        <div>
            <i></i>
        </div>
        <div>
            <i></i>
        </div>
        <div>
            <i></i>
        </div>
    </section>

    <section>
        <p>BEBER CON MODERACIÓN. - PROHIBIDA LA VENTA DE 
            BEBIDAS ALCOHÓLICAS A MENORES DE 18 AÑOS - LEY 
            NACIONAL DE LUCHA CONTRA EL ALCOHOLISMO NRO. 
            24.788.
            COPYRIGHT 2023 name-proyecto| Todos los derechos 
            reservados | terminos y condiciones - Dirección 
            General de Defensa y Protección al Consumidor - Consultas 
            y/o denuncias: INGRESE AQUÍ</p>
    </section>

</footer>