<footer class="flex-col footer">
    
    <section class="main-footer flex-col">

        <div class="footer-contacto footer_item item_contact flex-row">
            <div class="item_icon">
                <p class="item_footer_option">Contactos</p>
                <a href="#contactos" class="footer-icono-menu-flecha"><i class="fas fa-chevron-down"></i></a>
            </div>

            <div class="lista-footer" id="contactos">
                <ul>
                    <li>
                        <a>culmen@gmail.com</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="footer-categorias footer_item flex-row">
            <div class="item_icon">
                <p class="item_footer_option">Categorias</p>
                <i class="fas fa-chevron-down" class="footer-icono-menu-flecha"></i>
            </div>

            <div class="lista-footer">
                <ul>
                    <li><a href="#">Cervezas</a></li>
                    <li><a href="#">Vinos</a>Vinos</li>
                    <li><a href="#">Espumantes</a></li>
                    <li><a href="#">Whiskies</a></li>
                    <li><a href="#">Licores</a></li>
                    <li><a href="#">Vodka</a></li>
                    <li><a href="#">Ron</a></li>
                    <li><a href="#">Aperitivos</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-ayuda footer_item flex-row">
           <div class="item_icon">
                <p class="ayuda item_footer_option">Ayuda</p>
                <i class="fas fa-chevron-down" class="footer-icono-flecha"></i>
           </div>

           <div class="lista-footer">
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Medios de pago</a></li>
                <li><a href="#">Ley de venta de bebidas</a></li>
                <li><a href="#">Envio</a></li>
            </ul>
           </div>
        </div>

    </section>

    <section class="modos-pago">
        <img src="/images/tarjeta-visa.png" alt="Visa"  class="footer-icono-tarjetas">
        <img src="/images/tarjeta-mastercard.png" alt="Mastercard"  class="footer-icono-tarjetas">
        <img src="/images/tarjeta-americanexpress.png" alt="American Express" class="footer-icono-tarjetas">
        <img src="/images/naranja.png" alt="Naranja"  class="footer-icono-tarjetas">
        <img src="/images/mercadopago.png" alt="Mercado Pago"  class="footer-icono-tarjetas">
        <img src="/images/paypal.png" alt="Paypal"  class="footer-icono-tarjetas">
        <img src="/images/rapipago.png" alt="Rapipago"  class="footer-icono-tarjetas">
        <img src="/images/pago-facil.png" alt="PagoFacil"  class="footer-icono-tarjetas">
    </section>

    <section class="redes-sociales">
        <div class="iconos-red-social">
            <i class="fab fa-facebook-f"></i>
        </div>
        <div class="iconos-red-social">
            <i class="fab fa-instagram"></i>
        </div>
        <div class="iconos-red-social">
            <i class="fab fa-twitter"></i>
        </div>
    </section>

    <section class="leycopyright">
        <p>BEBER CON MODERACIÓN. - PROHIBIDA LA VENTA DE 
            BEBIDAS ALCOHÓLICAS A MENORES DE 18 AÑOS - LEY 
            NACIONAL DE LUCHA CONTRA EL ALCOHOLISMO NRO. 
            24.788.
            COPYRIGHT 2023 name-proyecto| Todos los derechos 
            reservados | terminos y condiciones - Dirección 
            General de Defensa y Protección al Consumidor - Consultas 
            y/o denuncias: <a href="#"> INGRESE AQUÍ </a></p>
    </section>

</footer>