<header class="flex-col">
    <section class="header-header flex-row">
        <div class="contenedor-header flex-row">
        <div class="contenedor-hamburguesa">
            <a href="#" class="menu-hamburguesa-boton" id="hamburguesa-boton">
                <i class="fas fa-bars" style="color: #ffffff;"></i>
            </a>
        </div>
        <div class="contenedor-logo">
            <a href="#">
                <img src="/images/LogoBebidas.png" alt="Logo Bebidas" class="logo">
            </a>
        </div>
        <nav class="nav-bar flex-row">
            <div class="contenedor-search">
                <button type="submit" class="btn_buscador">
                  <!--  <i class="far fa-search" style="color: #fcfcfc;" alt="Buscar"></i> -->
                    <i class="fas fa-search icon_header lupita" style="color: #ffffff;" alt="Buscar"></i>
                </button>
            </div>
            <div class="contenedor-user sin-loggear">
                <a href="#" class="" id="">
                    <i class="far fa-user" style="color: #ffffff;" alt="Iniciar sesion"></i>
                </a>
                <!--<p class="header_is_register"> </p> -->
            </div>
            <div class="contenedor-carrito">
                <a href="/#">
                  <!--  <i class="far fa-shopping-cart" style="color: #ffffff;" alt="Carrito de Compra"></i> -->
                    <i class="fas fa-shopping-cart icon_header icon_cart" style="color: #ffffff" alt="Carrito de Compra"></i>
                </a>
            </div>   
        </nav>
    </div>
    <div class="contenedor-contenedor-buscador">
        <div class="contenedor-buscador">
            <form action="" method="get" class="form-buscador">
                <input type="text" name="buscador-home" id="buscador-home" class="buscador-home" placeholder="Busque su producto...">
                <button type="sumbit" class="btn-buscador">
                    <i class="fas fa-search icon_header lupita"></i>
                </button>
            </form>
        </div>
    </div>
    </section>
    
        
    
</header>