<!DOCTYPE html>

<html lang="en">

<%-  include('./partials/head.ejs', { css_files: ["home", "home2"] })%>

<body>
   
    <%- include('./partials/header.ejs') %>

<main class="flex-col">
    <section class="contenedor-general flex-col">

        <!-- ARTICLE IMAGEN CARRUSEL -->
        <article class="article-carrusel">
            <img src="/images/CervezaCarrusel.png" alt="Promo1" class="img-carrusel">
        </article>
    </section>

        <!-- CARRUSEL DE PRODUCTOS DE OFERTA, ahora puse productos -->
    <section class="section-productos flex-col">
        <h3>OFERTAS</h3>
        <div class="container-productos flex-col">
            <article class="producto card">
                <div class="card2">
                    <img src="/images/Vino-oferta1.jpeg" alt="" class="img-product">
                    <div class="main-art-producto">
                        <p class="producto-nombre">Nombre del Producto</p>
                        <p class="producto-precio">Precio</p>
                        <p class="producto-descuento">Descuento-OFF</p>
                    </div>
                </div>
            </article>

            <article class="producto card">
                <div class="card2">
                    <img src="/images/Vino-oferta1.jpeg" alt="" class="img-product">
                    <div class="main-art-producto">
                        <p class="producto-nombre">Nombre del Producto</p>
                        <p class="producto-precio">Precio</p>
                        <p class="producto-descuento">Descuento-OFF</p>
                    </div>
                </div>
            </article>

            <article class="producto card">
                <div class="card2">
                    <img src="/images/Vino-oferta1.jpeg" alt="" class="img-product">
                    <div class="main-art-producto">
                        <p class="producto-nombre">Nombre del Producto</p>
                        <p class="producto-precio">Precio</p>
                        <p class="producto-descuento">Descuento-OFF</p>
                    </div>
                </div>
            </article>

            <article class="producto card">
                <div class="card2">
                    <img src="/images/Vino-oferta1.jpeg" alt="" class="img-product">
                    <div class="main-art-producto">
                        <p class="producto-nombre">Nombre del Producto</p>
                        <p class="producto-precio">Precio</p>
                        <p class="producto-descuento">Descuento-OFF</p>
                    </div>
                </div>
            </article>
        </div>
    </section>

        <!-- SECCION DE PROMOS ESPECIALES-->
    <section class="seccion-promos-especiales">
        <h3 class="titulo-seccion-especial">SECCION ESPECIALES</h3>
        <div class="contenedor-especiales">
            <img src="/images/Promos.png" alt="Promos" class="promo-especial">
        </div>
        <div class="contenedor-especiales">
            <img src="/images/50dedescuento.png" alt="Promos" class="promo-especial">
        </div>
        <div class="contenedor-especiales">
            <img src="/images/Promos.png" alt="Promos" class="promo-especial">
        </div>
        <div class="contenedor-especiales">
            <img src="/images/50dedescuento.png" alt="Promos" class="promo-especial">
        </div>
        <div class="contenedor-especiales">
            <img src="/images/Promos.png" alt="Promos" class="promo-especial">
        </div>
        <div class="contenedor-especiales">
            <img src="/images/50dedescuento.png" alt="Promos" class="promo-especial">
        </div>
        <div class="contenedor-especiales">
            <img src="/images/Promos.png" alt="Promos" class="promo-especial">
        </div>
        <div class="contenedor-especiales">
            <img src="/images/50dedescuento.png" alt="Promos" class="promo-especial">
        </div>
    </section>

    <!-- SECCION DE Carrusel de whiskys-->
    <section class="section-productos flex-col">
        <h3 class="titulo-seccion-especial">WHISKIES RECOMENDADOS</h3>
        <article class="producto card">
            <div class="card2">
                <div class="contenedor-img-card">
                <img src="/images/Vino-oferta1.jpeg" alt="" class="img-product">
                </div>
                <div class="main-art-producto">
                    <p class="producto-nombre">Nombre del Producto</p>
                    <p class="producto-precio">Precio</p>
                    <p class="producto-descuento">Descuento-OFF</p>
                </div>
            </div>
        </article>
    </section>

    <!-- SECCION DE Carrusel de CERVEZAS-->
    <section class="section-productos flex-col">
        <h3 class="titulo-seccion-especial">CERVEZAS RECOMENDADAS</h3>
        <article class="producto card">
            <div class="card2">
                    <div class="contenedor-img-card">
                    <img src="/images/Vino-oferta1.jpeg" alt="" class="img-product">
                    </div>
                <div class="main-art-producto">
                    <p class="producto-nombre">Nombre del Producto</p>
                    <p class="producto-precio">Precio</p>
                    <p class="producto-descuento">Descuento-OFF</p>
                </div>
            </div>
        </article>
    </section>

    <!-- MARCAS DESTACADAS-->
    <section class="marcas-destacadas flex-col">
        <h3 class="titulo-seccion-especial">MARCAS DESTACADAS</h3>
        <div class="marca card">
            <div class="contenedor-nombre-marca">
                <p>Nombre de la marca</p>
            </div>
            <div class="contenedor-img-marca">
                <img src="/images/marca1.jpeg" alt="" class="img-marca">
            </div>
        </div>
        <div class="marca card">
            <div class="contenedor-nombre-marca">
                <p>Nombre de la marca</p>
            </div>
            <div class="contenedor-img-marca">
                <img src="/images/marca2.jpeg" alt="" class="img-marca">
            </div>
        </div>
        <div class="marca card">
            <div class="contenedor-nombre-marca">
                <p>Nombre de la marca</p>
            </div>
            <div class="contenedor-img-marca">
                <img src="/images/marca3.jpeg" alt="" class="img-marca">
            </div>
        </div>
        <div class="marca card">
            <div class="contenedor-nombre-marca">
                <p>Nombre de la marca</p>
            </div>
            <div class="contenedor-img-marca">
                <img src="/images/marca3.jpeg" alt="" class="img-marca">
            </div>
        </div>
    </section>

     <!-- CUADRO PARA IR A REGISTRO-->

     <section class="contenedor-final-registro flex-col">
        <div class="contenedor-texto-registro flex-col">
            <div class="contenedor-texto-parrafo">
                <p class="texto-registro-mayus">REGISTRATE PARA PERTENECER A NUESTRA COMUNIDAD Y PARTICIPA DE SORTEOS!</p>
                <p class="texto-registro-minus">Enterate antes que nadie de descuentos y promociones.</p>
            </div>
            <div class="main-registrarse flex-col">
                <a href="/users/register" class="boton-register">REGISTRARSE</a>
            </div>
        </div>
     </section>

</main>

</body>
</html>