* {
    box-sizing: border-box  ;
    margin: 0;
    padding: 0;
}

/*  SECCION MAIN HOME */

.contenedor-general{
    width: 100%;
}

.article-carrusel{
    position: relative;
    margin-bottom: -4px;
    width: 100%;
    height: 65vh;
    max-height: 900px;
    padding-top: 9vh;
}

.img-carrusel{
    width: 100%;
    height: 100%;
}


/*  SECCION DE PRODUCTOS */

.section-productos {
    text-align: center;
   background-color: var(--op1-color-gris-claro);
   width: 100%;
}

.section-productos h3 {
    margin-top: 10px;
    /*color: var(--op2-color-primary-green);
    color: var(--op2-color-bg-blue-oscuro)*/
}

.container-productos{
    align-items: center;
    width: 90%;
}

.producto {
    margin: 10px;
    /*background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);*/    
    /* background-image: linear-gradient(45deg, #FFB6C1, #87CEEB); */
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: all .3s;
    background-color: white;
}

.card{
    width: 65%;
}

.card2{
    background-color: white;
    border-radius: 20px;
    transition: all .2s;
}

.img-product {
    text-align: center;
    padding: 10px;
    width: 150px;
    height: 215px;
}

.main-art-producto {
    border-top: 1px solid var(--op2-color-bg-blue-oscuro);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.producto-precio , .producto-nombre, .producto-descuento {
    color: var(--op2-color-bg-blue-oscuro);
    font-size: 13px;
    padding: 5px;
}

/*  SECCION DE SELECCIONADOS ESPECIALES */

.seccion-promos-especiales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: 10px;
}

.titulo-seccion-especial{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.contenedor-especiales{
width: 45%;
margin: 5px;
}

.promo-especial{
    width: 100%;
}

/*  MARCAS DESTACADAS */

.marcas-destacadas{
    text-align: center;
    background-color: var(--op1-color-gris-claro);
    width: 100%;
}

.marca{
    margin: 10px;
   /* box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.2);*/
    transition: all .3s;
    background-color: white;
}

.contenedor-nombre-marca{
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.contenedor-img-marca{
    width: 100%;
}

.img-marca{
    width: 100%;
}

/*  REGISTRO FINAL */

.contenedor-final-registro {
    background-color: #1b1b1b;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    padding: 15px;
}

.contenedor-texto-registro{
    width: 80%;
    padding: 5px;
}

.contenedor-texto-parrafo{
    /*padding: 10px;*/
}

.texto-registro-mayus{
  /*  padding: 10px;*/
}
.texto-registro-minus{
    padding: 10px;
}
.main-registrarse{
    background-color: rgb(122, 122, 122);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.boton-register {
    color: white;
    width: 150px;
    text-align: center;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-family: var(--op1-font-type);
    font-weight: bold;
    transition: all 0.3s ease 0s;
    padding: 12px;
}

/* VIEWPORT PARA TABLETS */
@media (min-width: 481px){

    .article-carrusel{
        padding-top: 19vh;
        height: 95vh;
    }

    .section-productos{
        padding-top: 5px;
    }

    .container-productos{
        display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    }

    .card{
        width: 45%;
    }

    /*  SECCION DE SELECCIONADOS ESPECIALES */

.seccion-promos-especiales{
    padding-top: 5px;
}

.titulo-seccion-especial{
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenedor-especiales {
    width: 40%;
    margin: 5px;
    padding: 5px;
}

.contenedor-img-card{
    height: 60vh;
}

.img-product{
    width: 75%;
    height: 100%;
}

/*  MARCAS DESTACADAS */
.marcas-destacadas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor-texto-registro {
    width: 90%;
}

.main-registrarse{
    width: 80%;
}
}