.login_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12vh;
    align-items: center;
}

.login_box p, .register_link p {
    margin-bottom: 20px;
    font-weight: bold;
}

.login_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-left: 3vh;
    margin-right: 3vh;
}

.login_form input {
    border: 1px solid rgb(185, 185, 185);
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
}

.login_form input::placeholder {
    color: rgb(185, 185, 185);
    text-transform: uppercase;
    font-size: 12px;
}

.login_form button {
    border: 1px solid rgb(185, 185, 185);
    background-color: black;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.login_form button {
    border: 1px solid rgb(185, 185, 185);
    background-color: black;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.register_link {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6vh;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    align-self: start;
}

.register_link div.register_button {
    display: flex;
    place-content: center;
    width: 87%;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.8;
}

.register_link div.register_button a {
    align-items: center;
}

.buttons {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.forgotten_password a, .register_link a {
    text-decoration: none;
    color: black;
}

/* DESKTOP */
@media (min-width: 769px) {
    .login {
        display: flex;
    }

    .login_box {
        width: 30%;
        margin-top: 20vh;
        margin-left: 5%;
    }

    .register_link {
        width: 30%;
        margin-left: 5%;
        margin-top: 20vh;
    }

}