@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap'); 

:root{

/*  PALETA DE COLORES: OPCION RED  */
    --op1-color-primary-rojo: #f93943; 
    --op1-color-secondary-rojo: #d1495b ;
    --op1-color-bg-negro: #1a1423;
    --op1-color-gris-oscuro: #65655e;
    --op1-color-gris-claro: #e1e6e1; 

/* PALETA DE COLORES: OPCION GREEN */
     --op2-color-primary-green: #4daa57; 
     
    /* --op2-color-primary-green: #b2eba5; */ 
    /* --op2-color-primary-green: #85cf7e;  */
    --op2-color-primary-green: ; 
    --op2-color-secondary-ligthblue: #1e96fc; 
    --op2-color-bg-blue-oscuro: #0b0033; 
    --op2-color-gris-oscuro: #616163; 
    --op2-color-gris-claro: #e1e6e1; 

    /* TIPOGRAFIA PROPUESTA */
    --op1-font-type: 'Roboto', sans-serif;
    /* @import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap'); */ 
    --op2-font-type: 'Lato', sans-serif;
    /* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap')*/   
}

/* clases a reutilizar */

.flex-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
  text-decoration: none;
}

body{
    font-family: var(--op2-font-type);
    background-color: #EFEFEF;
}

.header-header{
    background-color: black;
    color: white;
    height: 9vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 23;
    justify-content: center;
    gap: 20px;
    /*padding-left: 10px;*/
}

.contenedor-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.contenedor-user p{
    padding: 10px;
    font-size: 10px;
}

.header_is_register{
    text-align: center;
}

.header_container_items{
    display: none;
}


.contenedor-logo{
    /*display: none;*/
    width: 40%;
    text-align: center;
}
.logo {
    width: 120px;
}

/* Contenedor hamburgesa */
.contenedor-hamburguesa{
    width: 10%;
    text-align: center;
}

.menu-hamburguesa-boton {
    color: var(--op2-color-gris-claro);
    font-size: 1.5rem;
}

.hamburg{
    color: var(--op2-color-bg-blue-oscuro);

}

.nav-bar{
    /*  width: 30%; */
     justify-content: space-around;
     gap: 20px;
     margin: 0;
 }

 .btn_buscador{
    padding: 0px 6px;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
}

.contenedor-contenedor-buscador{
    display: none;
}


/* VIEWPORT PARA TABLETS */
@media (min-width: 481px){

    .header-header{
        background-color: black;
        color: white;
        /*height: 9vh;*/
        height: auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 23;
        justify-content: center;
        gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contenedor-header{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .contenedor-search{
        display: none;
    }

    .contenedor-contenedor-buscador{
        display: flex;
        padding-bottom: 10px;
        width: 100%;
        justify-content: center;
    }
    .contenedor-buscador{
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .form-buscador{
        width: 100%;
        display: flex;
       /* justify-content: center;*/
       background-color: white;
        border-radius: 10px;
        border: solid 1px rgb(180, 180, 180);
    }

    .buscador-home{
        width: 90%;
        border-radius: 10px;
        padding: 0px 15px;
        border: none;
        padding: 8px;
    }

    .btn-buscador{
        width: 10%;
        padding: 0px 6px;
        background-color: transparent;
        border: none;
        color: var(--op2-color-bg-blue-oscuro);
        transition: all 0.5s ease;
    }

}